.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 1rem 2rem;
  color: #fff;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
}

.logo {
  height: 50px;
  margin-right: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navLinks a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #f00; /* Match the red lightning bolt in the logo */
}

.active a {
  color: #f00; /* Highlight the active page */
}

.dropdown {
  position: relative;
}

.dropdownLabel {
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #111;
  padding: 0.5rem 1rem;
  list-style: none;
  border: 1px solid #333;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1000;
}

.dropdownList li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.dropdownList li a:hover {
  color: #f00;
}
